.landing__main {
  color: #ffffff;
  font-family: "VodafoneRg", sans-serif;
  font-size: 1.25em; /*20px*/
  line-height: normal;
}

/* HERO SECTION */

.hero {
  background-image: url(../images/hero.png);
  background-size: cover;
}

.section__wrapper {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.hero .section__wrapper {
  padding-top: 41px;
  padding-bottom: 41px;
}

/* .hero__icon {
    margin-top: 41px;
  }   */

.hero__title {
  /* font-size: 1.875em; */
  font-size: 30px;
  /* line-height: 2em; */
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.hero .text__upper-case,
.gallery .text__upper-case {
  text-transform: uppercase;
}

.hero .text__capitalize,
.gallery .text__capitalize {
  text-transform: capitalize;
}

.hero__text {
  margin-bottom: 10px;
}

.hero__text--bold {
  font-weight: bold;
  margin-bottom: 30px;
}

.hero__button {
  display: block;
  width: 100%;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background-color: #e60000;
  text-decoration: none;
  color: inherit;
}

/* GALLERY SECTION */

.gallery {
  background-color: #333333;
}

.gallery .section__wrapper {
  padding-top: 32.7px;
  /* padding-bottom: 41px; */
}

.gallery__title {
  font-family: "VodafoneLt", sans-serif;
  font-size: 26px;
  /* font-size: 1.625em; */
  line-height: 1.5;
  margin-bottom: 26px;
}

.carousel {
  display: block;
  --slides-height: 266pt;
  --slides-width: 175pt;
  padding-bottom: 10pt;
  --nav-point-color: rgb(182, 8, 8);
  --main-color: rgb(87, 86, 86);
}
